.label {
    font-size: 14px;
    &[data-theme="light"] {
        color: var(--label-light-text-color, var(--text-color-200, #363636));
    }
    &[data-theme="dark"] {
        color: var(--label-dark-text-color, var(--text-color-800, #E5E5E5));
    }
}