.head {
    border-width: 0 0 var(--head-separator-width, var(--border-width-100, 1px)) 0;
    border-style: solid;
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: var(--head-padding, var(--padding-450, 18px));
    }
    &-left,
    &-right {
        display: flex;
        gap: var(--gap-300, 12px);
    }
    &[data-theme="light"] {
        background-color: var(--head-light-background-color, var(--background-color-150, #F0F2F4));
        border-color: var(--head-light-separator-color, var(--background-color-200, #E1E6E9))
    }
    &[data-theme="dark"] {
        background-color: var(--head-dark-background-color, var(--background-color-900, #2E2F30));
        border-color: var(--head-dark-separator-color, var(--background-color-850, #343738))
    }
}