

.list {
    &-select-all {
        padding: 20px;
    }
    &-item {
        position: relative;
        display: flex;
        width: 100%;
        background-color: var(--background-color-850);
        color: var(--text-color-950);
        padding: 20px;
        border-radius: var(--border-radius-200);
        &-id {
            display: inline-block;
            width: 30px;
        }
        &-title {
            display: inline-block;
            width: 20%;
        }
        &-url {
            display: inline-block;
            width: 20%;
        }
        & + & {
            margin-top: 10px;
        }
        &-drag {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}